@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Proyecto Final</h1>
</div>

<div class="container mt-5">

    <div class="row mb-4">
        <div class="col-12">
            <div class="alert alert-info" role="alert">
                <p><strong>Te damos bienvenida a la vista principal, a un costado encontrarás todo lo que necesitas para una venta.</strong></p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="alert alert-info" role="alert">
                <p><strong>En la parte izquierda de la página encontrarás lo siguiente:</strong></p>
                <ul>
                    <li><strong>Clientes:</strong> Aquí podrás agregar los clientes que atiendan a tu punto de venta, los cuales podrás agregar y eliminar. Se mostrará su NIT, nombre y dirección del cliente.</li>

                    <li><strong>Productos:</strong> En esta vista o sección podrás agregar productos, su cantidad, código, nombre y imagen del producto. 
                        También podrás ver todos sus detalles y eliminar los que no necesites. 
                        Además, cada vez que vendas una cantidad, estos productos se reducirán de manera automática.</li>

                    <li><strong>Ventas:</strong> En este apartado podrás ver todas las ventas realizadas en tu punto de venta.</li>

                    <li><strong>Empleados:</strong> Aquí podrás agregar o eliminar nuevos empleados según su DPI, nombre y apellido.</li>

                    <li><strong>POS:</strong> En la vista POS encontrarás los productos disponibles según su stock, nombre, precio y código. 
                        También se incluye la funcionalidad de barras de búsqueda para localizar productos.
                        Además, podrás realizar compras con un carrito donde puedes agregar productos con solo hacer clic y seleccionar las cantidades. 
                        Al hacer clic en "Finalizar compra", se te pedirá el cliente que has ingresado y el empleado que lo está atendiendo, y así se generará una factura con toda la información tanto del cliente como de la tienda.</li>
                </ul>
            </div>
        </div>
    </div>
</div>

